.body-layout {
    margin: auto;
    max-width: 1280px;
    min-width: 320px;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 !important;
}

.footer {
  border-top: solid 1px #DBDFE2;
  padding: 20px 0;
}

.shopping-list {
  border: solid 1px #DBDFE2;
  position:relative;
  .title {
    text-align: center;
    margin: 10px 0;
  }
  .add-to-shopping-list {
    margin: 30px 0
  }
}

.shopping-list-item {
  border-top: solid 1px #DBDFE2;
  vertical-align: middle !important;
  line-height: 41px;
  &:hover {
    .cross {
      visibility: visible;
    }
  }
  .cross {
    vertical-align: middle !important;
    float: right;
    margin: 13px;
    visibility: hidden;
  }
}

.homepage-leaflet {
  border: solid 1px #DBDFE2;
  max-width: fit-content !important;
  padding: 0 !important;
  margin: 5px;
  color: #000;
  &:hover {
    border: solid 1px #0269d9;
    color: #0269d9;
  }
  .container {
    padding: 0;
  }
  .title {
    text-align: center;
    padding: 5px 0;
  }
}

.category-title {
  font-size: 20px;
  margin: 10px 0;
}

.leaflet-page {
  padding-bottom: 10px;
  img {
    width: inherit;
  }
}

.discount-item {
  .title {
    text-align: center;
    color: #707070;
    font-size: 20px;
    font-weight: bold;
    padding: 30px 0;
    border-top: solid 1px #DBDFE2;
    border-bottom: solid 1px #DBDFE2;
    button {
      margin-left: 10px;
      float: right;
    }
  }
  .shop {
    border-bottom: solid 1px #DBDFE2;
    padding: 15px 0;
    .name {
      color: #18389C;
      font-weight: bold;
      font-size: 15px;
    }
    .price {
      color: #7F7F7F;
      span {
        font-weight: bold;
      }
    }
  }
}